.background-color {
  width: 450px;
  background-color: #c4c4c4;
  padding: 10px;
  margin-bottom: 15px;
}

.title-size {
  font-size: 36px;
  font-weight: bold;
}

.description {
  line-height: 20px;
  margin-top: 10px;
}

.red {
  color: red;
}

.green {
  color: green;
}
